<h1>Welcome to Oliver's</h1>
<p>Hello, this is Oliver's page!</p>
<p> following the <a href="http://guides.rubyonrails.org/getting_started.html"> rails guild</a>
</p>
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<p><a href="/articles/new"> new</a></p>