<h1>Welcome to Oliver's</h1>
<p>Hello, this is Oliver's page!</p>
<p> following the <a href="http://guides.rubyonrails.org/getting_started.html#adding-some-validation"> rails guild</a>
</p>
<%= link_to 'Oliver\'s', controller: 'articles' %>
<%= link_to 'new article', new_article_path %>